.dots__dot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;

	color: getColor('text-btn');

	border: 2px solid getColor('accent');
	border-radius: 100px;
	cursor: pointer;

	@include animated(background-color);

	&:hover,
	&:focus {
		background-color: getColor('hover');
	}
}
