.footer {
	padding-top: 56px;
	padding-bottom: 60px;
	color: getColor('accent');
	background: url(../images/noise_transparent.svg),
		radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
		#211f20;
}

.footer--container {
	position: relative;
	display: flex;
	gap: 161px;
}

.footer__title {
	font-weight: 400;
	font-size: 35px;
	line-height: 1.3;
	letter-spacing: 0.06em;

	color: getColor('light');
}

.footer__address {
	flex-basis: 25%;
}

.footer__item {
	margin-top: 43px;

	&--first {
		margin-top: 34px;
	}
	&--second {
		margin-top: 20px;
	}
}
.footer__link {
	display: flex;
	align-items: center;
	gap: 20px;

	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.06em;

	border-radius: 8px;

	@include animated(color, box-shadow, transform);

	&:hover,
	&:focus {
		color: getColor('hover');
		box-shadow: 3px 3px 20px getColor('hover');
		transform: scale(1.1);
	}
}
.footer__icon {
	flex-shrink: 0;

	fill: currentColor;
}

.footer__img {
	position: absolute;
	right: 40px;
	bottom: -60px;
}
