.header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.header--container {
	display: flex;
	align-items: center;
}

// Logo
.logo {
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 0.06em;

	color: getColor('accent');
}

.logo__subtitle {
	display: block;
	margin-top: 10px;

	@include font(13px);
	line-height: 1.15;
	letter-spacing: 0.1em;
	text-align: right;

	color: getColor('light');
}

// Navigation
.nav {
	margin-left: auto;

	@include font(15px);
	line-height: 1.6;

	color: getColor('light-secondary');
}
.nav__list {
	display: flex;
	gap: 35px;
}
.nav__link {
	padding-top: 16px;
	padding-bottom: 4px;

	@include animated(color);

	&--active {
		border-bottom: 3px solid getColor('accent');
		color: getColor('light');
	}

	&:hover,
	&:focus {
		color: getColor('light');
	}
}

// The header for page pets
.header--pets {
	& .logo {
		color: getColor('text-prime');
	}
	& .nav,
	& .logo__subtitle {
		color: inherit;
	}
	& .nav__link--active {
		color: getColor('text-btn');
	}
	& .nav__link:hover,
	& .nav__link:focus {
		color: getColor('text-btn');
	}
}
