// Parameters for the font
@mixin font($size, $font: ('Arial', sans-serif)) {
	font-family: $font;
	font-size: $size;
}

// Animation of transitions
@mixin animated($property...) {
	transition-property: $property;
	transition-duration: 400ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// For media rules - set min-width OR max-width for breakpoints
$breakpoints: (
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1200px,
);
@mixin media($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: calc($width - 0.02px);
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// For media rules - set the range between breakpoints
@mixin min-max($min-width, $max-width) {
	@if map_has_key($breakpoints, $min-width) {
		$min-width: map_get($breakpoints, $min-width);

		@if map_has_key($breakpoints, $max-width) {
			$max-width: calc(map_get($breakpoints, $max-width) - 0.02px);
		}

		@media only screen and (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	}
}
