// Color map
$colors: (
	'text-prime': #545454,
	'text-secondary': #4c4c4c,
	'text-donation': #b2b2b2,
	'text-btn': #292929,

	'accent': #f1cdb3,
	'light': #ffffff,
	'light-secondary': #cdcdcd,

	'dark': #000000,

	'hover': #fddcc4,

	'bg-secondary': #f6f6f6,
	'bg-card': #fafafa,
);
@function getColor($key) {
	@return map-get($colors, $key);
}

// Visually-hidden
%visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
